SEO

# -*- การเข้ารหัส: ไบนารี -*-
# frozen_string_literal: จริง

ต้องการ 'uri'
ต้องการ 'fileutils'
ต้องการ 'ชุด'
ต้องการ 'tempfile'
ต้องการ 'เวลา'

require_relative 'query_parser'

โมดูลแร็ค
  #ชั้น::utilsมีคว้า- ถุงของวิธีการที่มีประโยชน์สําหรับการเขียนเว็บ
  #การใช้งานนํามาใช้จากทุกชนิดของห้องสมุดทับทิมของ

  โมดูล Utils
    (require_relative 'core_ext/regexp'; โดยใช้::Rack::RegexpExtensions)  RUBY_VERSION< '2.4'

    ตัวปรับค่าพารามิเตอร์ = ตัวแยกย่อยแบบสอบถาม::ParameterTypeError
    ไม่ถูกต้องพารามิเตอร์ =ตัวแยกตารางแบบสอบถาม::ไม่ถูกต้องParameterError
    DEFAULT_SEP = ตัวแยกตารางแบบสอบถาม::DEFAULT_SEP
    COMMON_SEP = ตัวแยกตัวCOMMON_SEP
    KeySpaceConstrainedParams = ตัวแยกใช้แบบสอบถาม::Params

    ชั้นเรียน<<ตนเอง
      attr_accessor :dค่าเริ่มต้น_query_parser
    ปลาย
    # จํานวนไบต์เริ่มต้นที่อนุญาตให้คีย์พารามิเตอร์รับได้
    # สิ่งนี้ช่วยป้องกันลูกค้าที่โกงจากน้ําท่วมคําขอ
    ตนเองของ default_query_parser = ตัวแยกข้อมูลแบบสอบถาม make_default(65536, 32)

    module_function

    # URI หนีไปได้ (พื้นที่ลักษณะ CGI เป็น +)
    หนี def(s)
      URI . URI . 2019 encode_www_form_component(s)
    ปลาย

    # เหมือน URI กําลังหลบหนี แต่มี %20 แทนที่จะเป็น + พูดอย่างเคร่งครัดนี่คือ
    # URI ที่แท้จริงหนีออกมา
    def escape_path(s)
 ::URI::DEFAULT_PARSER. หนี s
    ปลาย

    # ยกเลิกองค์ประกอบ **path** ของ URI ดูชั้น::Utils.unescape สําหรับ
    # ยกเลิกการอธิบายพารามิเตอร์แบบสอบถามหรือคอมโพเนนต์ฟอร์ม
    def unescape_path(s)
 ::URI::DEFAULT_PARSER. unescape s (ซีสเคป)
    ปลาย

    # ยกเลิกสเคปสตริงที่หลบหนีจาก URI ด้วย +encoding+ +การเข้ารหัส+ จะเป็น
    # การเข้ารหัสเป้าหมายของสตริงที่ส่งกลับ และเป็นค่าเริ่มต้นสําหรับ UTF-8
    def unescape(s,การเข้ารหัส = การเข้ารหัส::UTF_8)
      URI . URI . 2019 decode_www_form_component(s, การเข้ารหัส)
    ปลาย

    ชั้นเรียน<<ตนเอง
      attr_accessor :multipart_part_limit
    ปลาย

    # จํานวนสูงสุดของส่วนที่การร้องขอสามารถมีได้ การยอมรับส่วนมากเกินไป
    # อาจทําให้หมายเลขอ้างอิงแฟ้มของเซิร์ฟเวอร์หมด
    # ตั้งเป็น '0' ไม่จํากัด
    ตนเองของ multipart_part_limit = (ENV['RACK_MULTIPART_PART_LIMIT'] || 128). to_i

    def ตัวเอง. param_depth_limit
      default_query_parser. param_depth_limit
    ปลาย

    def self.param_depth_limit=(v)
      self.default_query_parser = self.default_query_parser.new_depth_limit(v)
    end

    def self.key_space_limit
      default_query_parser.key_space_limit
    end

    def self.key_space_limit=(v)
      self.default_query_parser = self.default_query_parser.new_space_limit(v)
    end

    if defined?(Process::CLOCK_MONOTONIC)
      def clock_time
        Process.clock_gettime(Process::CLOCK_MONOTONIC)
      end
    else
      # :nocov:
      def clock_time
        Time.now.to_f
      end
      # :nocov:
    end

    def parse_query(qs, d = nil, &unescaper)
      Rack::Utils.default_query_parser.parse_query(qs, d, &unescaper)
    end

    def parse_nested_query(qs, d = nil)
      Rack::Utils.default_query_parser.parse_nested_query(qs, d)
    end

    def build_query(params)
      params.map { |k, v|
        if v.class == Array
          build_query(v.map { |x| [k, x] })
        else
          v.nil? ? escape(k) : "#{escape(k)}=#{escape(v)}"
        end
      }.join("&")
    end

    def build_nested_query(value, prefix = nil)
      case value
      when Array
        value.map { |v|
          build_nested_query(v, "#{prefix}[]")
        }.join("&")
      when Hash
        value.map { |k, v|
          build_nested_query(v, prefix ? "#{prefix}[#{escape(k)}]" : escape(k))
        }.delete_if(&:empty?).join('&')
      when nil
        prefix
      else
        raise ArgumentError, "value must be a Hash" if prefix.nil?
        "#{prefix}=#{escape(value)}"
      end
    end

    def q_values(q_value_header)
      q_value_header.to_s.split(/\s*,\s*/).map do |part|
        value, parameters = part.split(/\s*;\s*/, 2)
        quality = 1.0
        if parameters && (md = /\Aq=([\d.]+)/.match(parameters))
          quality = md[1].to_f
        end
        [value, quality]
      end
    end

    # Return best accept value to use, based on the algorithm
    # in RFC 2616 Section 14.  If there are multiple best
    # matches (same specificity and quality), the value returned
    # is arbitrary.
    def best_q_match(q_value_header, available_mimes)
      values = q_values(q_value_header)

      matches = values.map do |req_mime, quality|
        match = available_mimes.find { |am| Rack::Mime.match?(am, req_mime) }
        next unless match
        [match, quality]
      end.compact.sort_by do |match, quality|
        (match.split('/', 2).count('*') * -10) + quality
      end.last
      matches&.first
    end

    ESCAPE_HTML = {
      "&" => "&amp;",
      "<" => "&lt;",
      ">" => "&gt;",
      "'" => "&#x27;",
      '"' => "&quot;",
      "/" => "&#x2F;"
    }

    ESCAPE_HTML_PATTERN = Regexp.union(*ESCAPE_HTML.keys)

    # Escape ampersands, brackets and quotes to their HTML/XML entities.
    def escape_html(string)
      string.to_s.gsub(ESCAPE_HTML_PATTERN){|c| ESCAPE_HTML[c] }
    end

    def select_best_encoding(available_encodings, accept_encoding)
      # http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

      expanded_accept_encoding = []

      accept_encoding.each do |m, q|
        preference = available_encodings.index(m) || available_encodings.size

        if m == "*"
          (available_encodings - accept_encoding.map(&:first)).each do |m2|
            expanded_accept_encoding << [m2, q, preference]
          end
        else
          expanded_accept_encoding << [m, q, preference]
        end
      end

      encoding_candidates = expanded_accept_encoding
        .sort_by { |_, q, p| [-q, p] }
        . แผนที่! (&:ก่อน)

      นอกจากencoding_candidatesของ รวมหรือไม่? ("ตัวตน")
        encoding_candidates. ดัน("ตัวตน")
      ปลาย

      expanded_accept_encoding. แต่ละ| m, q|
        encoding_candidates. ลบ(ม.) หาก q == 0.0
      ปลาย

      (encoding_candidates & available_encodings)[0]
    ปลาย

    def parse_cookies(env)
      parse_cookies_header [ HTTP_COOKIE]
    ปลาย

    def parse_cookies_header(ส่วนหัว)
      #ตาม rfc6265:
      # ไวยากรณ์สําหรับส่วนหัวของคุกกี้สนับสนุนเครื่องหมายอัฒภาคเท่านั้น
      # ตัวแทนผู้ใช้ ->เซิร์ฟเวอร์ ==
      #คุกกี้: sid=31d4d96e407aad42; lang=en-US (แลง=en-US)
      ส่งกลับ {} นอกจากส่วนหัว
      หัวข้อ. แยก(/[;] */n) each_with_object({}) | คุกกี้คุกกี้|
        ต่อไปถ้าคุกกี้ของ ว่าง?
        คีย์ค่า = คุกกี้ แยก('=', 2)
        คุกกี้[คีย์] = (unescape(ค่า) ค่ากู้ภัย ) เว้นแต่คุกกี้ . คีย์? (คีย์)
      ปลาย
    ปลาย

    เริ่มต้นadd_cookie_to_header(หัวข้อ,คีย์, ค่า)
      ค่า case
      เมื่อแฮช
        โดเมน = "; โดเมน =#{ค่า[:d omain]} "ถ้าค่า[:d omain]
        พาธ = "; พาธ=#{value[:p ath]}"ถ้าvalue [:p ath]
        max_age = "; max_age; "; อายุสูงสุด =#{ค่า[:max_age]}" ถ้าค่า[:max_age]
        หมดอายุ = "; หมดอายุ=#{ค่า[:หมดอายุ]. httpdate}" ถ้าค่า[:หมดอายุ]
        ปลอดภัย = "; ปลอดภัย"ถ้าค่า[:ปลอดภัย]
        httponly = "; "; HttpOnly" ถ้า (ค่า. คีย์? (:httponly) ? value[:httponly]: value[:http_only])
        same_site =
          มูลค่ากรณี[:same_site]
          เมื่อเป็นเท็จ , ไม่มี
            ศูนย์
          เมื่อ :ไม่มี, 'ไม่มี', :ไม่มี
            '; Samesite=ไม่มี'
          เมื่อ :lax, 'Lax', :Lax
            '; Samesite=ลักซ์'
          เมื่อเป็นจริง, :เข้มงวด, 'เข้มงวด', :เข้มงวด
            '; SameSite=เข้มงวด'
          อื่น
            เพิ่มอาร์กิวเมนต์ "ค่า SameSite ไม่ถูกต้อง:ค่า #{[:same_site]. ตรวจสอบ}"
          ปลาย
        ค่า = ค่า[:value]
      ปลาย
      value = [value] นอกจากค่า Array === 

      คุกกี้ = "#{escape(คีย์)}=#{value แผนที่ { | v| หนี v } เข้าร่วม('&')}#{โดเมน}" \
        "พาธ #{#{max_age}#{หมดอายุ}#{ปลอดภัย}#{httponly}#{same_site} "

      ส่วนหัวของกรณีและปัญหา
      เมื่อไม่มี, ''
        คุกกี้
      เมื่อสตริง
        [ส่วนหัวคุกกี้] . เข้าร่วม("\n")
      เมื่ออาร์เรย์
        (ส่วนหัว+ [คุกกี้]). เข้าร่วม("\n")
      อื่น
        เพิ่ม ArgumentError "ค่าส่วนหัวของคุกกี้ที่ไม่รู้จัก สตริง อาร์เรย์ หรือ nil ที่คาดไว้ได้รับส่วนหัว #{ ตรวจสอบ}"
      ปลาย
    ปลาย

    def set_cookie_header! (หัวข้อ, คีย์, ค่า)
      หัวข้อ[SET_COOKIE] = add_cookie_to_header(ส่วนหัว[SET_COOKIE], คีย์, ค่า)
      ศูนย์
    ปลาย

    เริ่มต้นmake_delete_cookie_header(หัวข้อ,คีย์, ค่า)
      ส่วนหัวของกรณีและปัญหา
      เมื่อไม่มี, ''
        คุกกี้ = []
      เมื่อสตริง
        คุกกี้ = ส่วนหัว แยก("\n")
      เมื่ออาร์เรย์
        คุกกี้ = ส่วนหัว
      ปลาย

      คีย์ = หนี(กุญแจ))
      โดเมน = ค่า[:d omain]
      เส้นทาง = ค่า[:p ath]
      regexp = ถ้าโดเมน
                 ถ้าเส้นทาง
                   /\A#{key}=.*(?:d omain=#{domain}(?:;|$)*path=#{path} (?:;|$)|path=#{path}(?:;|$)*domain=#{domain}(?:;|$))/
                 อื่น
                   /\A#{คีย์}=.*โดเมน=#{โดเมน}(?:;|$)/
                 ปลาย
               เส้นทาง elsif 
                 /\A#{คีย์}=.*path=#{path}(?:;|$)/
               อื่น
                 /\A#{คีย์} =/
               ปลาย

      คุกกี้. ปฏิเสธ! { | คุกกี้| regexp .ถัดไป ตรงกับ? คุกกี้ }

      คุกกี้. เข้าร่วม("\n")
    ปลาย

    def delete_cookie_header! (หัวข้อ, คีย์, ค่า = {})
      หัวข้อ[SET_COOKIE] = add_remove_cookie_to_header(ส่วนหัว[SET_COOKIE], คีย์, ค่า)
      ศูนย์
    ปลาย

    เพิ่มคุกกี้ที่จะ *ลบ* คุกกี้จากไคลเอนต์ ดังนั้น
    # ชื่อวิธีการแปลก ๆ
    เริ่มต้นadd_remove_cookie_to_header(หัวข้อ,คีย์, ค่า = {})
      new_header = make_delete_cookie_header(หัวข้อ,คีย์, ค่า)

      add_cookie_to_header(new_header, คีย์,
                 { ค่า: '', พาธ: ไม่มี,โดเมน:ไม่มี ,
                   max_age: '0',
                   หมดอายุ: เวลา ที่(0 )} ผสาน(ค่า)))

    ปลาย

    def rfc2822(เวลา))
      เวลา. rfc2822
    ปลาย

    # รุ่นที่ถูกปรับเปลี่ยนของ stdlib time.rb Time#rfc2822 เพื่อใช้ '%d-%b-%Y' แทน
    # จาก '%b %Y'
    # สมมติว่าเวลาอยู่ใน GMT เพื่อให้สอดคล้องกับ RFC 2109
    #
    # ฉันไม่แน่ใจ RFC บอกว่ามันต้องใช้ GMT แต่คลุมเครือพอ
    # ฉันมั่นใจว่ามีคนใช้ตัวเลือกนั้นเท่านั้น
    # อย่าใช้ %a และ %b จาก Time.strptime จะใช้ชื่อที่แปลเป็นภาษาท้องถิ่นสําหรับ
    # วันธรรมดาและเดือน
    #
    def rfc2109(เวลา))
      wday = เวลา::RFC2822_DAY_NAME[เวลา. wday (วัน)]
      มอญ =เวลา::RFC2822_MONTH_NAME[เวลา. จันทร์- 1]
      เวลา. strftime("#{wday}, %d-#{mon}-%Y %H:%M:%S GMT")
    ปลาย

    # แยกวิเคราะห์ส่วนหัว "ช่วง:" ถ้ามี ลงในอาร์เรย์ของวัตถุช่วง
    # ส่งกลับ nil ถ้าส่วนหัวหายไปหรือไม่ถูกต้องตามไวยากรณ์
    # ส่งกลับอาร์เรย์ว่างถ้าไม่มีช่วงใดที่พอใจ
    def byte_ranges(อิจฉา, ขนาด)
      เตือน "'byte_ranges' ไม่ได้รับการสนับสนุน โปรดใช้ 'get_byte_ranges'" ถ้า$VERBOSE
      get_byte_ranges ['HTTP_RANGE']ขนาด
    ปลาย

     def get_byte_ranges(http_range, ขนาด)
      # ดู<http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35>
      ส่งกลับ nil เว้นแต่http_range & http_range =~ /bytes=([^;] +)/
      ช่วง = []
 $1. แยก(/,\s*/) แต่ละ| range_spec |
        ส่งกลับ nil เว้นแต่range_spec =~ /(\d*)-(\d*)/
        R0, R1 = $1, $2
        ถ้า r0 ว่าง?
          กลับ nil ถ้า r1 ว่าง?
          # คําต่อท้าย-ไบต์-ช่วง-สเปค หมายถึงคําต่อท้ายท้ายของไฟล์
          r0 = ขนาด- r1 to_i
          R0 = 0 ถ้า r0 < 0
          r1 = ขนาด- 1
        อื่น
          r0 = r0 to_i
          ถ้า r1 ว่าง?
            r1 = ขนาด- 1
          อื่น
            r1 = r1 . r1 . r1 . r1 = r1 to_i
            ส่งกลับค่า NILถ้า r1 < r0 # ช่วงย้อนหลังไม่ถูกต้องตามหลักไวยากรณ์
            R1 = ขนาด- 1 ถ้า r1 > =ขนาด
          ปลาย
        ปลาย
        ช่วง<< (r0.. r1) ถ้า r0 < = r1
      ปลาย
      ช่วง
    ปลาย

    # การเปรียบเทียบสตริงเวลาค่าคงที่
    #
    # หมายเหตุ: ค่าที่เปรียบเทียบควรมีความยาวคงที่ เช่น สตริง
    # ที่ HMAC ประมวลผลแล้ว ไม่ควรใช้
    # บนสตริงข้อความธรรมดาที่มีความยาวแปรผันเนื่องจากอาจทําให้ข้อมูลความยาวรั่วไหลได้
    ผ่านการโจมตีเวลา
    ถ้ามีการกําหนด? (เปิด fixed_length_secure_compare)
      def secure_compare(a, b)
        ส่งกลับค่าเท็จเว้นแต่ ไบต์ == b ไบต์

        เปิดSSL. fixed_length_secure_compare(a, b)
      ปลาย
    อื่น
      def secure_compare(a, b)
        ส่งกลับค่าเท็จเว้นแต่ ไบต์ == b ไบต์

        l = ก. แกะกล่อง("C*")

        r, i = 0, -1
        ข. each_byte { | v| r |= v ^ l[i += 1] }
        r == 0
      ปลาย
    ปลาย

    # บริบทช่วยให้สามารถใช้มิดเดิลแวร์ที่เข้ากันได้ในจุดต่างๆ
    # ในสแต็คการจัดการคําขอ มิดเดิลแวร์ที่เข้ากันได้ต้องกําหนด
    # #contextซึ่งควรใช้ข้อโต้แย้งอิจฉาและแอพ ครั้งแรกซึ่ง
    # จะเป็นสภาพแวดล้อมที่ร้องขอ ประการที่สองจะเป็นชั้นวาง
    # โปรแกรมประยุกต์ที่จะส่งต่อการร้องขอไป
    บริบทคลาส
      attr_reader :สําหรับ, :app

      เริ่มต้น def(app_f, app_r)
        ยก 'บริบทการทํางานไม่ตอบสนองต่อ#context' เว้นแต่app_f  respond_to? :บริบท
        @for, @app = app_f, app_r
      ปลาย

      การเรียกแบบ def(env) )
        @for. บริบท(env, @app)
      ปลาย

      def recontext(แอป)
        ตนเองของ คลาส. ใหม่(@for, แอป)
      ปลาย

      บริบท def(env, แอป = @app)
        recontext(แอป). โทร(env)
      ปลาย
    ปลาย

    # แฮชที่ไม่รู้สึกตัวกรณีที่รักษากรณีเดิมของ
    # ส่วนหัวเมื่อตั้งค่า
    #
    # @apiส่วนตัว #
    ชั้น HeaderHash < Hash # :nodoc:
      def ตัวเอง. [](ส่วนหัว)
        ถ้าหัวข้อ is_a? (HeaderHash) & ! หัวข้อ. แช่แข็ง?
          ส่งกลับส่วนหัว
        อื่น
          กลับตัวเองของ สร้าง(ส่วนหัว))
        ปลาย
      ปลาย

      เริ่มต้นใหม่(แฮช = {})
        ซูเปอร์()
        @names = {}
        แฮช แต่ละ { | k, v| ตนเอง[k] = v }
      ปลาย

      # บน dup / โคลนเราจําเป็นต้องทําซ้ํา@namesแฮช
      def initialize_copy(อื่นๆ)
        ซูเปอร์
        @names = อื่นๆ ชื่อ. dup (dup)
      ปลาย

      # เราต้องเคลียร์@namesแฮช
      def ชัดเจน
        ซูเปอร์
        @names. ชัดเจน
      ปลาย

      def แต่ละ
        ซุปเปอร์ทํา| k, v|
          ผลผลิต(k, vของ respond_to? (:to_ary) ? v. to_ary. เข้าร่วม("\n") : v)
        ปลาย
      ปลาย

      to_hash 
        สับ = {}
        แต่ละ { | k, v| แฮช[k] = v }
        สับ
      ปลาย

      def [](k)
        ซุปเปอร์(k) || ซุปเปอร์(@names[k. ตัวพิมพ์เล็ก])
      ปลาย

      def []=(k, v)
        canonical = k.downcase.freeze
        delete k if @names[canonical] && @names[canonical] != k # .delete is expensive, don't invoke it unless necessary
        @names[canonical] = k
        super k, v
      end

      def delete(k)
        canonical = k.downcase
        result = super @names.delete(canonical)
        result
      end

      def include?(k)
        super || @names.include?(k.downcase)
      end

      alias_method :has_key?, :include?
      alias_method :member?, :include?
      alias_method :key?, :include?

      def fetch(k, *args)
        super(@names[k.downcase] || k, *args)
      end

      def merge!(other)
        other.each { |k, v| self[k] = v }
        self
      end

      def merge(other)
        hash = dup
        hash.merge! other
      end

      def replace(other)
        clear
        other.each { |k, v| self[k] = v }
        self
      end

      protected
        def names
          @names
        end
    end

    # Every standard HTTP code mapped to the appropriate message.
    # Generated with:
    #   curl -s https://www.iana.org/assignments/http-status-codes/http-status-codes-1.csv | \
    #     ruby -ne 'm = /^(\d{3}),(?!Unassigned|\(Unused\))([^,]+)/.match($_) and \
    #               puts "#{m[1]} => \x27#{m[2].strip}\x27,"'
    HTTP_STATUS_CODES = {
      100 => 'Continue',
      101 => 'Switching Protocols',
      102 => 'Processing',
      103 => 'Early Hints',
      200 => 'OK',
      201 => 'Created',
      202 => 'Accepted',
      203 => 'Non-Authoritative Information',
      204 => 'No Content',
      205 => 'Reset Content',
      206 => 'Partial Content',
      207 => 'Multi-Status',
      208 => 'Already Reported',
      226 => 'IM Used',
      300 => 'Multiple Choices',
      301 => 'Moved Permanently',
      302 => 'Found',
      303 => 'See Other',
      304 => 'Not Modified',
      305 => 'Use Proxy',
      306 => '(Unused)',
      307 => 'Temporary Redirect',
      308 => 'Permanent Redirect',
      400 => 'Bad Request',
      401 => 'Unauthorized',
      402 => 'Payment Required',
      403 => 'Forbidden',
      404 => 'Not Found',
      405 => 'Method Not Allowed',
      406 => 'Not Acceptable',
      407 => 'Proxy Authentication Required',
      408 => 'Request Timeout',
      409 => 'ความขัดแย้ง',
      410 => 'ไปแล้ว',
      411 => 'ความยาวที่ต้องการ',
      412 => 'เงื่อนไขเบื้องต้นล้มเหลว',
      413 => 'น้ําหนักบรรทุกใหญ่เกินไป',
      414 => 'URI นานเกินไป',
      415 => 'ชนิดสื่อที่ไม่ได้รับการสนับสนุน',
      416 => 'ช่วงไม่พอใจ',
      417 => 'ความคาดหวังล้มเหลว',
      421 => 'คําขอผิด',
      422 => 'เอนทิตีที่ไม่สามารถประมวลผลได้',
      423 => 'ล็อค',
      424 => 'การขึ้นต่อกันที่ล้มเหลว',
      425 => 'เร็วเกินไป',
      426 => 'ต้องอัพเกรด',
      428 => 'ต้องมีเงื่อนไขเบื้องต้น',
      429 => 'คําขอมากเกินไป',
      431 => 'ร้องขอเขตข้อมูลส่วนหัวใหญ่เกินไป',
      451 => 'ไม่พร้อมใช้งานด้วยเหตุผลทางกฎหมาย',
      500 => 'ข้อผิดพลาดภายในเซิร์ฟเวอร์',
      501 => 'ไม่ได้ดําเนินการ',
      502 => 'เกตเวย์ไม่ถูกต้อง',
      503 => 'บริการไม่พร้อมใช้งาน',
      504 => 'การหมดเวลาของเกตเวย์',
      505 => 'ไม่สนับสนุนรุ่น HTTP',
      506 => 'ตัวแปรยังเจรจา',
      507 => 'ที่เก็บข้อมูลไม่เพียงพอ',
      508 => 'ตรวจพบลูป',
      509 => 'เกินขีดจํากัดแบนด์วิดท์',
      510 => 'ไม่ขยาย',
      511 => 'ต้องการการรับรองความถูกต้องของเครือข่าย'
    }

    # การตอบสนองด้วยรหัสสถานะ HTTP ที่ไม่ควรมีเนื้อความของเอนทิตี
    STATUS_WITH_NO_ENTITY_BODY = แฮช[((100.. 199). to_a << 204 << 304). ผลิตภัณฑ์([จริง])]

    SYMBOL_TO_STATUS_CODE = แฮช[*HTTP_STATUS_CODES. แผนที่ { | รหัส, รหัส|
      [ข้อความ. เป็นตัวพิมพ์เล็ก gsub(/\s|-|' /, '_'). to_symรหัส]
    }. แบน]

    เริ่มต้นstatus_code(สถานะ))
      ถ้าสถานะ is_a? (สัญลักษณ์)
        SYMBOL_TO_STATUS_CODE. fetch(สถานะ) {เพิ่มตัวบ่งชี้อาร์กิวเมนต์ "รหัสสถานะที่ไม่รู้จัก#{สถานะ. ตรวจสอบ}" }
      อื่น
        สถานะ ..S. to_i
      ปลาย
    ปลาย

    PATH_SEPS = รีจิกซ์ ยูเนี่ยน (* [::แฟ้ม::SEPARATOR, :: แฟ้ม::ALT_SEPARATOR]. กระชับข้อมูล)

    โปรแกรมclean_path_info( path_info)
      ชิ้นส่วน = path_info แยกPATH_SEPS

      สะอาด = []

      ชิ้นส่วนของ แต่ละ| ส่วน|
        ถัดไปถ้าส่วน ว่าง? || ส่วน== '.'
        ส่วน== '.. ' ? ทําความสะอาดของ ป๊อป:ทําความสะอาด<<ชิ้นส่วน
      ปลาย

      clean_path = สะอาด เข้าร่วม(::แฟ้ม::ตัวคั่น)
      clean_path. prepend("/") ถ้าชิ้นส่วน ว่าง? || ชิ้นส่วนของ ครั้งแรกของ ว่าง?
      clean_path
    ปลาย

    NULL_BYTE = "\0"

    def valid_path? (เส้นทาง)
      เส้นทาง. valid_encoding? && ! เส้นทาง. รวมหรือไม่? (NULL_BYTE)
    ปลาย

  ปลาย
ปลาย
© 2021 GitHub, Inc.